Repository zoobc/zoobc-core, pull requests merged in 2021-03, with the labels that each got.

#1480 fix the sparse recipt received problem
  core/service/blockMainService.go
Labels: CORE

#1481 fix main and spine block stuck problems
  core/service/blockSpineService.go
  core/service/nodeAddressInfoService.go
  core/service/nodeRegistrationCoreService.go
  core/service/nodeRegistrationCoreService_test.go
Labels: CORE

#1482 Add mainnet wkp to configure command
  cmd/configure/cmd.go
  cmd/configure/const.go
Labels: CORE

#1485 fix secure random to only return positive values
  common/util/secureRandom.go
  common/util/secureRandom_test.go
  core/blockchainsync/downloadBlockchain.go
  p2p/strategy/nativeStrategy.go
  p2p/strategy/peerStrategyHelper.go
  p2p/strategy/priorityStrategy.go
Labels: CORE

#1488 Limit number of concurrent prometheus requests
  common/monitoring/metricsMonitoring.go
Labels: ENHANCE

#1489 update the score calculation
  common/constant/participationScore.go
  common/util/ParticipationScore.go
  common/util/ParticipationScore_test.go
  core/service/blockMainService.go
Labels: CORE

#1491 Removed linked receipt logic
  common/constant/receipt.go
  common/util/ParticipationScore.go
  common/util/ParticipationScore_test.go
  core/service/coinbaseService_test.go
  core/service/publishedReceiptService.go
  core/service/receiptService.go
  p2p/p2p.go
Labels: CORE

#1492 develop branch clean up
  common/constant/genesis.go
  config.toml
  config2.toml
  config3.toml
  config4.toml
  config5.toml
  resource/node_keys_4.json
  resource/node_keys_5.json
  resource/node_keys_alpha.json
Labels: CORE

#1493 Clean logs and enabled anti-spam filter on mainnet by default
  api/service/transactionApiService.go
  cmd/configure/cmd.go
  core/service/blockSpineService.go
  core/service/receiptService.go
  p2p/strategy/nativeStrategy.go
  p2p/strategy/priorityStrategy.go
Labels: CORE

#1494 Fix issue with 32bit architecture on big numbers' random generation
  core/blockchainsync/downloadBlockchain.go
  p2p/strategy/nativeStrategy.go
  p2p/strategy/peerStrategyHelper.go
  p2p/strategy/priorityStrategy.go
Labels: BUG
